
table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
    background-color: rgb(167, 208, 255);
}
td {
    text-align: left;
}
table {
    width: 100%;
}
th {
    text-align: center;
    color: blueviolet;
}
.a{
    background-color: green;
}
.r {
    background-color: red;
}
.re {
    background-color: orange;
}