.flex-container {
  display: flex;
  flex-direction: row;
  background-color: darkblue;
}


.flex-container > div {

    background-color: darkgreen;
margin: 20px;
padding: 40px;
font-size: 2rem;
}


.flex-container1 {
display: flex;
flex-direction: column;
background-color: aqua;
}

.flex-container1 > div {
    background-color: black;
    margin: 40px;
    padding: 60px;
    font-size: 3rem;
    
}
.flex-container > div,.flex-container1 > div {
 color: aliceblue;
}