.dimensao {
    width: 100px;
}
/* o que for declarado com ponto da seguinte 
forma: .declaracao é pcompreendido 
como uma classe no css */

img { border: solid 1px #000;}

/* o que for declarado como sendo identificador
de tag vai ser aplicado em todas as ocorrencias
 em que aparecer*/

 #zica { border: dotted 5px #448866;
}
.dimensao2 {
    width: 900px;
}
/* quando voce declara com a # entao o tipo "id"
 vai ser aplicado!
 esse tipo apesar de funcionar
 não é tão recomendado,
  pois ids precisam ser únicos e não se repetem  */